:root{
    --white : #ffffff;
    --black : #000000;

    --primary : #1A2A80;
    --secondary : #26CECD;
}


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@font-face{
    font-family: "Nexa-Bold";
    src: url("../webfonts/nexa_bold-webfont.woff") format("woff"),
    url("../webfonts/nexa_bold-webfont.woff2") format("woff2");
    font-weight: normal;
}
@font-face{
    font-family: "Nexa-Light";
    src: url("../webfonts/nexa_light-webfont.woff") format("woff"),
    url("../webfonts/nexa_light-webfont.woff2") format("woff2");
    font-weight: normal;
}

/***********   ECHELLE TYPO ************/

.header2{
    font-family: 'Nexa-Bold';
    font-size: 2rem;
    padding: 0 100px;
}
.paragraphe{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.highlight{
    color: var(--secondary);
}
@media (max-width:560px){
    .header2{
        font-size: 1.25rem;
    }
    .header2__apropos{
        margin: 0!important;
    }
}

a, li{
    text-decoration: none;
}


/* NAVBAR */
#navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background: var(--white);
}

/********** HOME ***********/

#home{
    height: 100vh;
    width: 100%;
}
#home h1 span{
    font-family: "Nexa-Bold";
    font-size: 8.75rem;
    margin-bottom: 1.375rem;
}
#home h1 span:nth-child(1){
    margin-left: 6.25rem;
}
#home h1 span:nth-child(2){
    margin-left: 16.563rem;
}
#home h1 span:nth-child(3){
    margin-left: 27rem;
}
.home__container{
    display: flex;
}
.home__container--left{
    width: 80%;
}
.home__container--right{
    width: 20%;
    display: flex;
    align-items: center;
}
.home__container--button{
    margin-top: 200px;
    margin-left: -5%;
}
#home h1{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.375rem;
    background: none;
    border: 2px solid var(--black);
    padding: 15px 25px;
    border-radius: 10px;
}
@media (max-width: 560px){
    #home{
        height: 95vh;
    }
    #home h1 span{
        font-size: 2.813rem;
        margin-bottom: 1.375rem;
    }
    #home h1 span:nth-child(1){
        margin-left: 2.5rem;
    }
    #home h1 span:nth-child(2){
        margin-left: 5.313rem;
    }
    #home h1 span:nth-child(3){
        margin-left: 8.25rem;
    }
    .home__container--right{
        display: flex;
    }
    button{
        font-size: 1.063rem;
    }
    .home__container{
        display: flex;
        flex-wrap: wrap;
    }
    .home__container--left{
        width: 100%;
    }
    .home__container--right{
        width: 100%;
        justify-content: center;
    }
    .home__container--button{
        margin-top: 4rem;
    }
}
@media (width: 1024px){
    #home h1 span{
        font-size: 6rem;
    }
}

/********** CITATION ***********/
#citation{
    padding: 0 100px;
    margin: 150px 0;
}
.citation__container{
    width: 100%;
}
.citation__contain{
    background-image: url("../img/citation.png");
    background-repeat: no-repeat;
    background-size:cover ;
    height: 18rem;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.author, .citation{
    color: white;
    font-family: 'Open Sans';
}
.citation{
    font-size: 2.25rem;
    text-align: center;
    align-items: center;
}
.author{
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
}

@media (max-width:560px){

    #citation{
        margin: 0 0 80px 0;
        padding: 0;
    }
    .citation__contain{
        background-image: url("../img/citation-mobile.png");
        height: 9rem;
        padding: 0 50px;
    }
    .citation{
        font-size: 1rem;
    }
    .author{
        font-size: .7rem;
    }
}


/********** A PROPOS ***********/
#apropos{
    padding: 0 100px;
}

#apropos h2{
    text-align: center;
    margin-bottom: 9rem;
}

.apropos__container{
    display: flex;
    justify-content: space-around;
}

.apropos__container--video{
    width: 31.6rem;
    height: 19rem;
    background-color: var(--black);
    border-radius: 10px;
}
.apropos__container--text{
    width: 29rem;
    height: 18rem;
    font-family: 'Open Sans';
    font-size: 1.25rem;
}
.apropos__container--text p:first-child{
    margin-top: 80px;
}

@media (max-width:560px){
    #apropos{
        padding: 0;
    }
    .apropos__container{
        display: block;
    }
    .apropos__container--video{
        width: 90%;
        background-color: var(--black);
        border-radius: 10px;
        margin: 0 auto;
    }
    .apropos__container--text{
        width: 100%;
        font-family: 'Open Sans';
        font-size: 1.25rem;
        text-align: left;
    
    }
}

/********** NAVBAR ***********/
#navbar.sticky{
    background:var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.primary-navigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li{
    margin-left: 4.375rem;
}
.contact{
    margin-left: 30rem;
    margin-right: 6.25rem;
    position: relative;
}
.contact::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: -60%;
    left: 0;
    background-color: var(--primary);
}
.nav-links{
    text-decoration: none;
    font-family: "Nexa-Bold";
    color: var(--black);
}

.logo{
    position: relative;
    width: 7rem;
    left: 6.25rem;
}

.mobile__nav--toggle{
    display: none;
}


@media (max-width: 560px){
    .primary-navigation{
        position: fixed;
        z-index: 1;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(25vh, 18rem) 2em;
        background: hsl(0deg 0% 12% / 82%);
        backdrop-filter: blur(2rem);
        transform: translateX(100%);
        transition: transform 400ms ease-out;
        height: 60vh;
    }

    a.link{
        z-index: 1;
        color: var(--white);
        text-decoration: none;
        font-family: "Nexa-Bold"!important;
        text-align: center;
        font-size: 1.5rem;
    }
    .nav-links{
        color: var(--white);
        z-index: 1;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    nav{
        height: 4rem;
    }

    .logo{
        width: 100px;
    }

    .mobile__nav--toggle{
        display: block;
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
        z-index: 5;
        background: url("../img/menu.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    button.mobile__nav--toggle {
        border: none;
    }
    
    .mobile__nav--toggle[aria-expanded='true']{
        background: url("../img/x.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .bg__links--text {
        margin: 0px 0rem!important;
        color: var(--white)!important;
        text-decoration: none;
        font-family: 'Nexa-Bold';
    }

    .active{
        margin: 1rem 1rem;
        text-align: center;
    }
    .contact{
        margin-left: 0;
        margin-right: 0;
        position: relative;
        text-align: center;
    }
    .contact::before{
        display: none;
    }
}
/********** POURQUOI **********/
#pourquoi{
    padding: 100px 100px 0px 100px;
}
.pourquoi__contain{
    display: flex;
    height: 80vh;
    min-width: 50%;
    margin-top: 0px;
}
.pourquoi__contain--image{
    display: flex;
    min-width: 50%;
    justify-content: center;
    align-items: center;
}
.pourquoi__contain--image figure:first-child{
    margin: -50px 20px 0 0;
}
.pourquoi__contain--image figure:last-child{
    margin-top: 50px;
}

.pourquoi__contain--text{
    margin:auto;
    padding: 0 8%;
}

.contain__text--highlight{
    width: 100%;
    font-size: 1.375rem;
    margin-bottom: 20px;
    font-family: 'Open Sans';
}
.pourquoi__contain:last-child{
    flex-direction: row-reverse;
    margin-top: -150px;
}

@media (max-width:560px){
    #pourquoi{
        padding: 20px;
    }
    .pourquoi__contain--image figure:last-child{
        display: none;
    }
    .pourquoi__contain--image figure:first-child{
        margin: 0;
    }
    .pourquoi__contain--image{
        width: 100%;
        margin-bottom: 30px;
    }
    .pourquoi__contain{
        flex-wrap: wrap;
    }
    .contain__text--highlight{
        font-size: 1.05rem;
        margin-bottom: 40px;
    }
    .pourquoi__contain--text {
        margin: 10px;
        padding: 0;
    }

    .pourquoi__contain:last-child{
        margin-top: 100px;
    }
}
/********** COUNTER ***********/

.counter__container{
    display: flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
}
.counter__container--text{
    width: 150px;
    padding: 0 20px;
    font-size: 4rem;
    margin-left: 50px;
    font-family: 'Nexa-Bold';
}
.counter__text--highlight{
    font-size: 3rem;
    font-family: 'Nexa-Bold';
    padding: 0 20px;
}

@media (max-width:560px){
    .counter__container{
        flex-wrap: wrap;
        margin: 50px 0;
    }
    .counter__container--text{
        justify-content: center;
        font-size:2rem;
        text-align: center;
        margin: 40px auto -20px;
        padding: 0;
    }
    .counter__text--highlight{
        font-size: 1.25rem;
        text-align: center;
    }
}


/********** POUR VOUS ***********/

#pourvous{
    padding: 50px 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.pourvous__container{
    background: #F9F9F9;
    width: 18rem;
    padding: 20px 20px 0 20px;
    border-radius: 15px;
    margin-right: 80px;
    filter: drop-shadow(0px 4px 7px #E3E8ED);  
}
.pourvous__contain--stars{
    display: flex;
    margin-bottom: 20px;
}
.stars{
    margin: 3px;
}
.pourvous__infos--image{
    margin: 0 20px 0 0;
}
.pourvous__contain--text{
    margin-bottom: 22px;
    height: 60px;
}
.pourvous__contain--infos{
    display: flex;
    align-items: center;
}
/*** CACHER LE SLIDER ***/
#pourvous__mobile{
    display: none;
}
@media (max-width : 560px){
    #pourvous__mobile{
        display: block;
        padding: 0 10px;
    }
    #pourvous{
        display: none;
    }

}














/********** FAQ ***********/
/********** FAQ ***********/
#faq h2{
    text-align: center;
}

#faq{
    width: 100%;
    height: 100vh;
}
.faq__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.faq__card{
    width: 275px;
    height: 400px;
    margin: 102px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.faq__card--front, .faq__card--back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: var(--white);
    position: absolute;
}
.faq__card--front{
    z-index: 2;
    backface-visibility: hidden;
}
.faq__container--card:hover .faq__card{
    transform: rotateY(180deg);
}
.faq__container--card{
    perspective: 1000px;
}
.faq__card--back{
    z-index: 1;
    transform: rotateY(180deg);
}
.faq__container--text{

    width: 80%;
}
.faq__card--back h5{
    width: 80%;
    margin: auto;
}

.faq__container--img{
    background-color: rgb(96, 107, 109);
    height: 100px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.pic-1{
    background-image: url('../img/faq1.jpg');
}
.pic-2{
    background-image: url('../img/faq2.jpg');
}
.pic-3{
    background-image: url('../img/faq3.jpg');
}
.faq__container--text{
    padding: 20px
}
.faq__button{
    color: red;
    font-size: 0.875rem;
    text-decoration: underline;
    margin-left: 160px;
    margin-top: 100px;
}
.faq-flip{
    margin-left: 230px;
    margin-top: 150px;
}
@media(max-width: 560px){
    .faq__container--card{
        width: 600px;
    }
}


/********** NEWSLETTER *********/
#newsletter{
    width: 100%;
    height: 30vh;
    margin-top: 10rem;
}
.newsletter__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.newsletter__container--btn{
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.125rem;
}
.fa-long-arrow-alt-right{
    margin-left: 10px;
}
.newsletter__container--input{
    border: none;
    border-bottom: 2px solid black;
    height: 3rem;
    width: 730px;
    margin-right: 57px;

}
.newsletter__container--title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 57px;
}
@media(max-width: 560px){
    .newsletter__container{
        display: flex;
        flex-direction: column;
    }
    .newsletter__container--input{
        width: 250px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        margin-left: 50px;
    }
    #newsletter{
        margin-top: 3rem;
        margin-bottom: 100px;
    }
    .newsletter__container--btn{
        margin-left: 130px;
    }
    .newsletter__container--title p{
        text-align: center;
    }

    
}

/********** FOOTER ***********/
.footer__contain{
    background:#202932;
	width: 100%;
	height: 20rem;
    display: flex;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.footer__container--logo{   
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.footer__container--logo figure{
    display: flex; 
    justify-content: center;
}
.logo__footer{
    width: 50%;
}
.container__logo--text{
    padding: 0px 70px;
    text-align: center;
}
.footer__container--navigation, .footer__container--social, .footer__container--adress{
    width: 20%;
    padding: 3%;
}
.footer__container--navigation, .footer__container--social, .footer__container--logo{
    border-right: 2px solid white;
}
.navigation__link, .social__link{
    width: 50%;
    font-family: 'Open Sans';
    text-decoration: none;
}
.footer__container--title{
    text-transform: uppercase;
}
.footer__container--adress{
    width: 30%;
}
.copyright__contain{
    background: black ;
    height: 30px;
}


@media (max-width: 650px){
    .footer__contain{
        display: flex;
        flex-wrap: wrap;
        border: none;
    }
    .logo__footer{
        margin: 20px 0;
    }

    .footer__container--logo, .footer__container--navigation, .footer__container--social,.footer__container--adress{
        width: 100%;
        border-top: 1px solid black;
    }
    .footer__container--navigation, .footer__container--social, .footer__container--logo, .footer__container--adress{
        border-right: none;
        padding: 10%;
    }

}
