:root{
    --white : #ffffff;
    --black : #000000;

    --primary : #1A2A80;
    --secondary : #26CECD;
}


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family: "Nexa-Bold";
    src: url("../webfonts/nexa_bold-webfont.woff") format("woff"),
    url("../webfonts/nexa_bold-webfont.woff2") format("woff2");
    font-weight: normal;
}
@font-face{
    font-family: "Nexa-Light";
    src: url("../webfonts/nexa_light-webfont.woff") format("woff"),
    url("../webfonts/nexa_light-webfont.woff2") format("woff2");
    font-weight: normal;
}

/***********   ECHELLE TYPO ************/

.header2{
    font-family: 'Nexa-Bold';
    font-size: 2rem;
    padding: 0 100px;
}
.header4{
    font-family: 'Poppins-Semi-Bold';
    font-size: 1rem;
}
.header5{
    font-family: 'Poppins';
    font-size: 0.8rem;
}

.paragraphe{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #202932;
}

.highlight{
    color: var(--secondary);
}
@media (max-width:560px){
    .header2{
        font-size: 1.25rem;
    }
    .header2__apropos{
        margin: 0!important;
    }
}



a, li{
    text-decoration: none;
}


/********** NAVBAR *********/
#navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    background: var(--white);
}

@media (max-width:560px){
    #navbar{
        height: 3.75rem;
    }
}

/********** HOME ***********/

#home{
    max-height: 100vh;
    max-width: 100%;
    padding: 350px 100px 0 100px;
}

.home__container{
    padding-top: 3.125rem;
    position: relative;
}

h1{
    font-family: "Nexa-Light";
    font-size: 4rem;
}

h1 span{
    color: var(--primary);
    font-family: "Nexa-Bold";
}

.span__container--entreprendre{
    position: absolute;
    z-index: 100;
    top: 3%;
}

.span__container--entreprendre::before{
    content: 'entreprendre';
    font-family: "Nexa-Bold";
    font-size: 12rem;
    line-height: 12rem;
    color: #F0F4F9;
    position: absolute;
    top: -110px;
    z-index: -10;
}


h1 p{
    margin: 0 0 0 1.9rem;
}

h1 p span{
    color: var(--secondary);
}

.home__container .paragraphe{
    margin-bottom: 2.5rem;
    margin-top: -1.125rem;
}

.home__container--bottom button:first-child{
    height: 3.1rem;
    width: 18.4rem;
    margin-right: 20px;
    border: none;
    background: linear-gradient(90deg, #1A2A80 0%, #26CECD 100%);
    border-radius: 10px;
    font-size: 1.125rem;
    color: var(--white);
}


.home__container--bottom button:last-child{
    height: 3.1rem;
    width: 18.4rem;
    border: 0;
    background: linear-gradient(90deg, #1A2A80 0%, #26CECD 100%);
    font-size: 1.125rem;
    position: relative;
    border-radius: 10px;
    z-index: 1;
}
.home__container--bottom button:last-child::before{
    content: "";
    display: block;

    border-radius: calc(10px - 2px);
    height: calc(100% - calc(2px * 2));
    width: calc(100% - calc(2px * 2));

    background: white;

    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
}

.home__social--links{
    display: flex;
    width: 18rem;
    height: 1.3rem;
    transform: rotate(90deg);
    position: absolute;
    right: -12%;
    top: 55%;
}

.home__social--links a{
    color: #202932!important;
}

/**** HOME MOBILE ****/

@media (max-width:560px){
    #home{
        max-height: 100vh;
        max-width: 100%;
        padding: 150px 20px 0 20px;
        margin-bottom: 55px;
    }
    .span__container--entreprendre{
        position: absolute;
        z-index: 100;
        top: 3%;
        font-size: 3rem;
    }
    .span__container--entreprendre::before{
        content: 'entreprendre';
        font-family: "Nexa-Bold";
        font-size: 3.25rem;
        color: #F0F4F9;
        position: absolute;
        top: -5.94rem;
        z-index: -10;
    }
    h1 p{
        font-family: "Nexa-Light";
        font-size: 2.125rem;
        margin: -2rem 0 0 3.687rem!important;
    }
    h1 p span{
        color: var(--secondary);
        font-family: "Nexa-Bold";
        font-size: 3rem;
        margin-left: 3.5rem;
    }
    .home__container .paragraphe{
        margin-bottom: 4rem;
        margin-top: -2.5rem;
        font-size: 0.875rem;
        width: 95%;
    }
    .home__container--bottom{
        display: flex;
        flex-direction: column;
    }
    .home__container--button{
        width: 217px;
        height: 45px;
        margin: 0 auto 8px auto!important;
        border-radius: 10px;
        font-size: 1.125rem;
    }
    .home__container--bottom button:last-child{
        margin-bottom: 50px!important;
    }
    .home__social--links{
        display: flex;
        align-items: center;
        transform: none;
        position: static;
        margin: 0 auto 0 auto!important;
        text-align: center;
    }
}

/********** CITATION ***********/
#citation{
    padding: 0 100px;
    margin: 150px 0;
}
.citation__container{
    width: 100%;
}
.citation__contain{
    background-image: url("../img/citation.png");
    background-repeat: no-repeat;
    background-size:cover ;
    height: 18rem;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.author, .citation{
    color: white;
    font-family: 'Open Sans';
}
.citation{
    font-size: 2.25rem;
    text-align: center;
    align-items: center;
}
.author{
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
}

@media (max-width:560px){

    #citation{
        margin: 0 0 80px 0;
        padding: 0;
    }
    .citation__contain{
        background-image: url("../img/citation-mobile.png");
        height: 9rem;
        padding: 0 50px;
    }
    .citation{
        font-size: 1rem;
    }
    .author{
        font-size: .7rem;
    }
}


/********** A PROPOS ***********/
#apropos{
    padding: 0 100px;
}

#apropos h2{
    text-align: center;
    margin-bottom: 9rem;
}

.apropos__container{
    display: flex;
    justify-content: space-around;
}

.apropos__container--video{
    width: 31.6rem;
    height: 19rem;
    background-color: var(--black);
    border-radius: 10px;
    position: relative;
}
.apropos__container--video::before{
    content: '';
    display: block;
    position: absolute;
    left: -6%;
    top: -15%;
    height: inherit;
    width: inherit;
    border: 2px solid var(--secondary);
    z-index: -1;
    border-radius: 15px;
}
.apropos__container--text{
    width: 29rem;
    height: 18rem;
    font-family: 'Open Sans';
    font-size: 1.25rem;
}
.apropos__container--text p:first-child{
    margin-top: 80px;
}

@media (max-width:560px){
    #apropos{
        padding: 0;
    }
    .apropos__container{
        display: block;
    }
    .apropos__container--video{
        width: 90%;
        background-color: var(--black);
        border-radius: 10px;
        margin: 0 auto;
    }
    .apropos__container--video::before{
        left: -3%;
        top: -9%;
    }
    .apropos__container--text{
        width: 100%;
        font-family: 'Open Sans';
        font-size: 1.25rem;
        text-align: left;
    
    }
}

/********** NAVBAR ***********/
#navbar.sticky{
    background:var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.primary-navigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li{
    margin-left: 4.375rem;
}
.contact{
    margin-left: 30rem;
    margin-right: 6.25rem;
    position: relative;
}
.contact::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: -60%;
    left: 0;
    background-color: var(--primary);
}
.nav-links{
    text-decoration: none;
    font-family: "Nexa-Bold";
    color: var(--black);
}

.logo{
    position: relative;
    width: 7rem;
    left: 6.25rem;
}

.mobile__nav--toggle{
    display: none;
}

.navMobile{
    display: none;
}
ul .active:nth-child(4){
    margin: 0 4.375rem;
}

@media (max-width: 560px){
    .navMobile{
        display: block;
    }
    .primary-navigation{
        position: fixed;
        z-index: 1;
        inset: 0 0 0 30%;
        flex-direction: column;
        background: rgb(18, 218, 191);
        transform: translateX(100%);
        transition: transform 400ms ease-out;
        padding: 10rem 0rem;
        margin: 0px;
    }

    a.link{
        z-index: 1;
        color: var(--black);
        text-decoration: none;
        font-family: "Nexa-Bold"!important;
        text-align: center;
        font-size: 1.5rem;
    }
    .nav-links{
        color: var(--black);
        z-index: 1;
    }

    .primary-navigation[data-visible="true"]{
        margin: 0;
        transform: translateX(0%);
    }

    nav{
        height: 4rem;
    }

    .logo{
        width: 100px;
    }

    .mobile__nav--toggle{
        display: block;
        position: absolute;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
        z-index: 5;
        background: url("../img/menu.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    button.mobile__nav--toggle {
        border: none;
    }
    
    .mobile__nav--toggle[aria-expanded='true']{
        background: url("../img/x.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .bg__links--text {
        margin: 0px 0rem!important;
        color: var(--white)!important;
        text-decoration: none;
        font-family: 'Nexa-Bold';
    }

    .active{
        margin: 1rem 1rem;
        text-align: center;
    }
    .contact{
        margin-left: 0;
        margin-right: 0;
        position: relative;
        text-align: center;
    }
    .contact::before{
        display: none;
    }
}
/********** POURQUOI **********/
#pourquoi{
    padding: 100px 100px 0px 100px;
}
.pourquoi__contain{
    display: flex;
    height: 80vh;
    min-width: 50%;
    margin-top: 0px;
}
.pourquoi__contain--image{
    display: flex;
    min-width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.img1::before{
    content: '';
    display: block;
    position: absolute;
    left: -6%;
    top: -15%;
    height: 200px;
    width: 400px;
    border: 2px solid var(--secondary);
    z-index: -1;
    border-radius: 15px;
}
.pourquoi__contain--image figure:first-child{
    margin: -50px 20px 0 0;
}
.pourquoi__contain--image figure:last-child{
    margin-top: 50px;
}

.pourquoi__contain--text{
    margin:auto;
    padding: 0 8%;
}

.contain__text--highlight{
    width: 100%;
    font-size: 1.375rem;
    margin-bottom: 20px;
    font-family: 'Open Sans';
}

@media (max-width:560px){
    #pourquoi{
        padding: 20px;
    }
    .pourquoi__contain--image figure:last-child{
        display: none;
    }
    .pourquoi__contain--image figure:first-child{
        margin: 0;
    }
    .pourquoi__contain--image{
        width: 100%;
        margin-bottom: 30px;
    }
    .pourquoi__contain{
        flex-wrap: wrap;
    }
    .contain__text--highlight{
        font-size: 1.05rem;
        margin-bottom: 40px;
    }
    .pourquoi__contain--text {
        margin: 10px;
        padding: 0;
    }
}
/********** COUNTER ***********/

.counter__container{
    display: flex;
    padding: 0 5%;
    justify-content: center;
    align-items: center;
}
.counter__container--text{
    width: 150px;
    padding: 0 20px;
    font-size: 4rem;
    margin-left: 50px;
    font-family: 'Nexa-Bold';
}
.counter__text--highlight{
    font-size: 3rem;
    font-family: 'Nexa-Bold';
    padding: 0 20px;
}

@media (max-width:560px){
    .counter__container{
        flex-wrap: wrap;
        margin: 50px 0;
    }
    .counter__container--text{
        justify-content: center;
        font-size:2rem;
        text-align: center;
        margin: 40px auto -20px;
        padding: 0;
    }
    .counter__text--highlight{
        font-size: 1.25rem;
        text-align: center;
    }
}


/********** POUR VOUS ***********/

#pourvous{
    padding: 50px 100px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.pourvous__container{
    background: #F9F9F9;
    width: 18rem;
    padding: 20px 20px 0 20px;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 7px #E3E8ED);  
}
.pourvous__container:nth-child(1), .pourvous__container:nth-child(2){
    margin-right: 80px;
}
.pourvous__contain--stars{
    display: flex;
    margin-bottom: 20px;
}
.stars{
    margin: 3px;
}
.pourvous__infos--image{
    margin: 0 20px 0 0;
}
.pourvous__contain--text{
    margin-bottom: 22px;
    height: 60px;
}
.pourvous__contain--infos{
    display: flex;
    align-items: center;
}
/*** CACHER LE SLIDER ***/
#pourvous__mobile{
    display: none;
}
@media (max-width : 560px){
    #pourvous__mobile{
        display: block;
        padding: 0 10px;
    }
    #pourvous{
        display: none;
    }

}














/********** FAQ ***********/
/********** FAQ ***********/
#faq h2{
        font-family: 'Nexa-Bold';
        font-size: 2rem;
        padding: 0 100px;
}

#faq{
    width: 100%;
    height: 100vh;
}
.faq__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.faq__card{
    width: 275px;
    height: 400px;
    margin: 102px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.faq__card--front, .faq__card--back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: var(--white);
    position: absolute;
}
.faq__card--front{
    z-index: 2;
    backface-visibility: hidden;
}
.faq__container--card:hover .faq__card{
    transform: rotateY(180deg);
}
.faq__container--card{
    perspective: 1000px;
}
.faq__card--back{
    z-index: 1;
    transform: rotateY(180deg);
}
.faq__container--text{

    width: 80%;
}
.faq__card--back h5{
    width: 80%;
    margin: auto;
}

.faq__container--img{
    background-color: rgb(96, 107, 109);
    height: 100px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.pic-1{
    background-image: url('../img/faq1.jpg');
}
.pic-2{
    background-image: url('../img/faq2.jpg');
}
.pic-3{
    background-image: url('../img/faq3.jpg');
}
.faq__container--text{
    padding: 20px
}
.faq__button{
    color: red;
    font-size: 0.875rem;
    text-decoration: underline;
    margin-left: 160px;
    margin-top: 100px;
}
.faq-flip{
    margin-left: 230px;
    margin-top: 150px;
}
@media(max-width: 560px){
    .faq__container--card{
        width: 600px;
    }
}
/********** NEWSLETTER *********/
#newsletter{
    width: 100%;
    height: 30vh;
    margin: 8rem 0;
}
#newsletter h2{
    font-family: 'Nexa-Bold';
    font-size: 2rem;
    padding: 0;
}
.newsletter__container--title{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;

}
.newsletter__container{
    padding: 100px;
}
.newsletter__container--input{
    height: 50px;
    width: 505px;
    border-radius: 10px;
    border: 1px solid #B7B7B7;
    margin-right: 20px;
}
@media(max-width: 560px){
    #newsletter{
        height: fit-content;
    }
    .newsletter__container{
        padding: 20px;
    }
    .newsletter__container--input{
        width: 100%;
        margin: auto;        
        margin-bottom: 20px;
    }
    .newsletter__container--form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .newsletter__container--btn{
        width: 100%;
    }
}
/********** FOOTER ***********/
.footer__contain{
    background:#202932;
	width: 100%;
	height: 20rem;
    display: flex;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.footer__container--logo{   
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.footer__container--logo figure{
    display: flex; 
    justify-content: center;
}
.container__logo--text{
    padding: 0px 80px;
    text-align: center;
    line-height: 21px;
    color: white;
}
.footer__container--navigation, .footer__container--social{
    width: 20%;
    padding:4%;
}
.footer__container--navigation, .footer__container--social, .footer__container--logo{
    border-right: 2px solid white;
}
.navigation__link, .social__link{
    width: 50%;
    font-family: 'Open Sans';
    text-decoration: none;
}
.navigation__link a, .social__link a{
    color: white;
}
.footer__container--title{
    text-transform: uppercase;
    color: white;
}
.mail__text{
    color: white;
    text-decoration: underline;
}
.footer__container--adress{
    padding: 3%;
    width: 30%;
}
.copyright__contain{
    background-color: #202932;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    height: 3vh;
    position: relative;
    top: 0;
    left: 0;
}
.txt {
    margin-right: 110px;
    white-space: nowrap;
    font-size: 1rem;
    animation: scrollTxt 20s linear infinite alternate;
}

@keyframes scrollTxt {
    0%{
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}


@media (max-width: 650px){
    .footer__contain{
        display: flex;
        flex-wrap: wrap;
        border: none;
        height: fit-content;
    }
    .logo__footer{
        margin: 20px 0;
    }
    .container__logo--text{
        padding: 0;
    }

    .navigation__link, .social__link{
        width: 100%;
        font-family: 'Open Sans';
        text-decoration: none;
    }

    .footer__container--logo,.footer__container--adress{
        width: 100%;
        border-top: 2px solid white;
    }
    .footer__container--navigation, .footer__container--social{
        display: block;
        width: 30%;
        padding: 5%;
    }
    .footer__container--navigation, .footer__container--social, .footer__container--logo, .footer__container--adress{
        border-right: none;
        padding: 10%;
    }

}
